/* DEFINES */

/* Variables used in this project. */

$black-color: #000000;
$blue-color: #6764cb; 
$light-color: #f0f0f0;
$grey-color: #bfbfbf;
$white-color: white;
$tablet: "(min-width: 500px) and (max-width: 1100px)";
$desktop: "(min-width: 1100px)";
$mobile: "(max-width: 500px)";
$main-font: "Muli";
$main-width: 1250px;